* {
	padding: 0;
	margin: 0;
}
.download_link a{
	position: absolute;
	color: white;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	background-color: #443E47;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	padding: 3px 3px;
	text-decoration: none;
	top: 322px;
	left: 300px;
	opacity: 0.5px;
}
.download_link img{
	position: absolute;
	top: 318px;
	left: 260px;
	width: 30px;
	height: 30px;
}
.Renage {
	position: absolute;
	top: 160px;
	left: 20px;
	color: white;
	font-family: arial;
	font-size: 17px;
}
.Game{
	position: absolute;
	top: 360px;
	left: 20px;
	color: white;
	font-size: 17px;
	font-family: arial;
}
.downloadgame_link img{
	position: absolute;
	top: 523px;
	left: 260px;
	width: 30px;
	height: 30px;
}
.downloadgame_link a{
	position: absolute;
	color: white;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	background-color: #383A20;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	padding: 3px 3px;
	text-decoration: none;
	top: 528px;
	left: 300px;
	opacity: 0.5px;
}
.Box {
	position: absolute;
	background-color: grey;
	left: 10px;
	top: 150px;
	border-style: dashed;	
	height: 200px;
	width: 400px;
	opacity: 0.4;
}
.OverBox {
	position: absolute;
	background-color: #433d40;
	left: 9px;
	top: 150px;
	height: 407px;
	border-style: dashed;	
	width: 400px;
	opacity: 0.4;
}
.Box2 {
	position: absolute;
	background-color: grey;
	left: 10px;
	top: 355px;
	border-style: dashed;	
	height: 200px;
	width: 400px;
	opacity: 0.4;
}
.back_to_main{
	display: flex;
	font-family: arial;
	background-color: #7F7F7F;
	position: absolute;
	top: -0;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 44px;
}
.back_to_main a{
	font-family: arial;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.Tag h2{
	position: absolute;
	background-color: darkgrey;
	height: 18px;
	width: 1680px;
	left: 0px;
	top: 909px;
	font-family: arial;
	font-size: 15px;
}
