* {
	padding: 0;
	margin: 0;
}
.Links nav {
	display: flex;
	background: grey;
}
.Links a {
	padding: 5 10;
	font-size: 12px;
	color: white;
	font-family: arial;
	text-decoration: none;
}
.HomeTitle {
	position: absolute;
	padding: 2 5;
	color: #1A1A1A;
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
}
.Tag h2{
	position: absolute;
	background-color: darkgrey;
	height: 18px;
	width: 1680px;
	left: 0px;
	top: 909px;
	font-family: arial;
	font-size: 15px;
}
.search_whearing input{
	font-family: arial;
	position: absolute;
	top: 5px;
	left: 1463px;
}
.search_whearing_submit input{
	font-family: arial;
	position: absolute;
	top: 5px;
	left: 1620px;
}
