html{
	background: #9CBFC3;
	padding: 10px;
	margin: 10px;
}
h1{
	position: absolute;
	top: 10px;
	left: 714px;
	color: #1A1A1A;
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
}
a{
	position: absolute;
	background-color: #687172;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	top: 90px;
	padding: 5px 5px;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.Company h2{
	position: absolute;
	font-family: arial;
	color:grey;
	font-size: 15px;
	top: 847px;
	left: 1280px;
	background: #AFEEEE;
	border-color: #1E1E1E;
	border-radius: 8px;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-style: solid;
	border-left-style: double;
}
.ADD1{
	position: absolute;
	font-family:arial;
	color:#1A1C1C;
	font-size: 10px;
	top: 60px;
}
.Version{
	position: absolute;
	font-size:15px;
	color: black; 
	font-family: arial;
	top: 855px;
	left: 10px;
	background: #AFEEEE;
	border-color: #1E1E1E;
	border-radius: 8px;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: solid;
	border-left-style: groove;
}
.about a{
	position: absolute;
	background: #687172;
	cursor: pointer;
	display: inline-block;
	top: 855px;
	left: 805px;
	text-decoration: none;
	color: white;
	text-align: left;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}
